<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <style>
      body {
        font-family: sans-serif;
      }
      a {
        display: block;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        font-weight: 200;
        font-size: 16px;
        background: #04c;
        color: #fff;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <a href="interface.html">/index</a>
    <a href="onboarding.html">/onboarding</a>
    <a onclick="window.location.reload();">Reload</a>
    <a onclick="getContacts();">Get Contacts</a>
    <a onclick="hasAccessToContacts();">Has Access to Contacts</a>
    <p id="log">
      <!-- Generated Logs go here -->
    </p>
    <script type="text/javascript" src="js/NativeConnector.js"></script>
    <script type="text/javascript" src="js/Social.js"></script>
    <script>
      var connector = new NativeConnector();
      var social = new Social();

      var getContacts = function() {
        social.addNativeListener("getFBConnectedContacts", _onContactsReceived);
        social.getFBContacts();
      };
      var hasAccessToContacts = function() {
        social.addNativeListener("connectFB", _onHasAccessReceived);
        social.connectFB();
      };
      var _onHasAccessReceived = function(data) {
        log.innerHTML = "HasAccess: "+data.connectionState;
      };
      var _onContactsReceived = function(data) {
        log.innerHTML = data;
      };
      var writeLog = function(msg) {
        document.getElementById("log").innerHTML += new Date().getTime()+" "+msg+"<br/>";
      };
    </script>
  </body>
</html>