<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Friendlist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/interface.min.css">
    <style>
      .onboarding_step {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 10px;
        background: #fff;
        -webkit-user-select: none;
        border-radius: 12px;
      }
      .indicator {
        color: #ccc;
        text-align: center;
        letter-spacing: 10px;
        font-size: 60px;
      }
      .indicator b {
        color: #000;
      }
    </style>
  </head>
  <body class="ios">
    <header>
      <h1><button onclick="window.location.href='/';">Back</button></h1>
    </header>
    <section id="onboarding"></section>
    <script src="js/zepto.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/onboarding.js"></script>
    <script>
      $(function(){
        buildOnboarding();
      });
    </script>
  </body>
</html>