.dev_overlay {
  display: block;
  position: absolute;
  padding: 10px;
  margin: 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  text-decoration: none;
  z-index: 32000;
}
.ios {
  background: #f5f5f5;
  margin: 0;
  font-family: "Helvetica Neue";
  font-weight: 200;
}
header {
  height: 44px;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: block;
}
header{height:44px;}
header h1{font:normal 20px/43px sans-serif;overflow:hidden;text-align: center}
header button{height:28px;font:normal 18px/26px sans-serif;margin:7px 5px;padding:0 8px;top:0;color:#3B7FF3;border:none;background:none;}
header h1+button{right:0;}
section {
  width: 320px;
  min-height: 568px;
}
.ios p,
.ios h2,
.ios button {
  font-family: "Helvetica Neue";
  font-weight: 200;
}
.friendlist li { text-transform: capitalize; }
.invite_dialogue {
  text-align: center;
}
.invite_map img {
  width: 320px;
  height: 186px;
}
.invite_confirm button {
  background: #44DB5E;
  color: #fff;
  line-height: 60px;
  border-radius: 6px;
  margin: 10px;
  width: 290px;
  border: none;
  font-size: 28px;
}
.invite_venue,
.invite_time {
  height: 66px;
  border-bottom: 1px solid #ddd;
}
.invite_venue_name,
.invite_venue_distance {
  display: block;
  text-align: left;
  padding-left: 24px;
}
.invite_venue_name {
  font-size: 16px;
  font-weight: normal;
  padding-top: 8px;
  padding: 8px 24px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3B7FF3;
}
.invite_venue_distance {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.invite_time_label {
  display: block;
  margin-bottom: 24px;
  font-size: 10px;
  font-weight: normal;
  color: #999;
}
.selector {
  display: block;
  padding: 8px 24px 0;
  font-size: 36px;
  text-align: center;
}
.status_selector {
  position: absolute;
  width: 320px;
  padding-top: 20px;
}
.friends + .status_selector {
  margin-top: 400px;
}
#status_free {
  color: #2BD74B;
}