body {
  -webkit-user-select: none;
}
button:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dev_overlay {
  display: block;
  position: absolute;
  padding: 10px;
  margin: 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  text-decoration: none;
  z-index: 32000;
}
.ios {
  background: #fff;
  margin: 0;
  font-family: "Helvetica Neue";
  font-weight: 300;
}
header {
  height: 45px;
  background: #008aff;
  color: #fff;
  display: block;
}
header{height:44px;}
header h1{font:normal 30px/43px 'HelveticaNeue-CondensedBold';overflow:hidden;text-align: center;}
header button{position:absolute;height:28px;font:normal 18px/29px sans-serif;margin:7px 5px;padding:0 8px;top:20px;color:#fff;border:none;background:none;}
header h1+button{right:0;}
header button.active {
  color: #000;
}
section {
  width: 320px;
  min-height: 568px;
}
.ios p,
.ios h2,
.ios button {
  font-family: "Helvetica Neue";
  font-weight: 300;
}
.invite_map img {
  width: 320px;
  height: 320px;
}
.invite_confirm {
  display: -webkit-box;
  margin-top: 21px;
}
.invite_confirm a {
  border: none;
  color: #fff;
  background: #4cd964;
  line-height: 50px;
  border-radius: 6px;
  margin: 5px 15px;
  font-size: 26px;
  padding: 0px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
}
.invite_confirm a.active {
  background: #3c4;
}
.invite_venue,
.invite_time {
  height: 86px;
}
.ui-swipeslide-reel {
  margin: 0;
  padding-left: 0!important;
}
.ui-swipeslide-slide {
  height: 86px;
}
.invite_venue_name,
.invite_venue_distance {
  display: block;
  padding-left: 24px;
}
.invite_venue_name {
  font-size: 16px;
  font-weight: normal;
  padding-top: 8px;
  padding: 8px 24px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3B7FF3;
}
.invite_venue_distance,
.invite_friend,
.invite_set_time {
  display: block;
  padding-left: 24px;
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.invite_set_time {
  margin-top: 6px;
}
.invite_time {
  padding-bottom: 14px;
}
.invite_time_label {
  display: block;
  padding-bottom: 24px;
  font-size: 10px;
  font-weight: normal;
  color: #999;
  text-align: center;
}
.selector {
  display: block;
  padding: 20px 24px 8px;
  font-size: 36px;
  text-align: center;
  color: #222;
}
.status_selector {
  position: absolute;
  width: 300px;
  padding-top: 20px;
}
.friends + .status_selector {
  margin-top: 413px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 10px;
}
.status_free,
.status_busy {
  border: 3px solid #888;
  text-decoration: none;
  color: #888;
  background: none;
  line-height: 62px;
  border-radius: 6px;
  margin: 5px;
  font-size: 30px;
  font-weight: 400;
  padding: 0 0 2px 0;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
}
.status_free {
  -webkit-box-flex: 2;
  color: #fff;
  background: #4cd964;
  border-color: #4cd964;
}
.status_free.active {
  background: #fff;
  color: #4cd964;
}
.status_busy.active {
  background: #888;
  color: #fff;
}
.status_planned {
  padding-top: 8px;
}
.status_planned .selector {
  font-size: 24px;
}
.event_map {
  width: 320px;
  height: 263px;
}
.coming_soon {
  text-align: center;
  line-height: 100px;
}
.event_details {
  display: -webkit-box;
}
#set_time_selector {
  position: absolute;
  top: 0;
  -webkit-transform: scale(0,1);
}
.invite_venue {
  -webkit-box-flex: 1;
}
.event_time {
  padding: 8px 24px 0;
}
.invite_more_friends button {
  border: none;
  color: #08b;
  background: transparent;
  line-height: 60px;
  border-radius: 6px;
  margin: 10px;
  width: 300px;
  font-size: 28px;
}
/* Venue Details */
.venue_image {
  height: 225px;
  background: #ccc;
}
.venue_title {
  display: block;
  margin: 14px 15px 0;
  border-top: 1px solid #DCDEDC;
  padding: 10px 10px 0;
  color: #BFBFBF;
}
.venue_hours_hours {
  display: block;
  padding-left: 24px;
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.venue_contact_actions {
  display: -webkit-box;
  padding: 0 20px;
}
.venue_contact_actions a {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  width: 100px;
  line-height: 40px;
  background: #4889E7;
  color: #fff;
  margin: 5px;
}
#addfriends header {
  display: -webkit-box;
  -webkit-box-align: center;
}
#addfriends header button {
  position: static;
  display: -webkit-box;
}
#addfriends header input {
  display: -webkit-box;
  -webkit-box-flex: 1;
  border-radius: 4px;
  border: none;
  background: #fff;
  margin-right: 20px;
  outline: none;
  padding-top: 4px;
  font: normal 16px/26px sans-serif;
}
.addfriends_list {
  height: 433px;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
  outline: 1px solid red;
}
.fb_friend_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fb_friend:nth-child(2n+1) {
  background: #fff;
}
.fb_friend {
  display: -webkit-box;
  line-height: 44px;
  padding: 0;
  font-weight: 300;
}
.fb_friend img {
  width: 30px;
  height: 30px;
  border-radius: 44px;
  display: -webkit-box;
  margin: 5px 10px 5px 15px;
}
.fb_friend span {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  border-bottom: 1px solid #eee;
}
.fb_friend span b {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-flex: 1;
  font-weight: normal;
}
.fb_friend button {
  color: #4cd964;
  background: #fff;
  border-radius: 25px;
  font-size: 16px;
  margin-right: 5px;
  padding: 0;
  outline: none;
  -webkit-box-pack: end;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-weight: bold;
  border: none;
  text-transform: capitalize;
  padding: 3px 10px;
}
.fb_friend button.invite {
  border: 1px solid #4cd964;
  width: 25px;
  height: 25px;
  padding: 0;
  font-weight: normal;
  margin-right: 15px;
}
.fb_friend button.active {
  background: #4cd964;
  color: #fff;
}
.friend_slots {
  display: -webkit-box;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
}
.friend_slots img {
  width: 50px!important;
}
