ul.friendlist,
.friendlist li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.friendlist {
  position: absolute;
  width: 320px;
  height: 320px;
  background: transparent;
  margin-top: 80px;
}
.ios ul.friendlist li {
  position: absolute;
  margin: -30px 0 0 -30px;
  height: auto;
  padding: 0;
  border: none!important;
}
.friendlist .name {
  display: none;
  text-transform: capitalize;
}
.ios ul.friendlist li img {
  width: 60px!important;
  height: auto;
  border-radius: 100px;
  margin: 0;
}
.ios ul.friendlist li.me {
  left: 160px;
  top: 160px;
  margin: -49px 0 0 -49px;
}
.ios ul.friendlist li.me img {
  width: 97px!important;
}