section {
  display: none;
  position: absolute;
  float: none;
  margin: 0;
}
section > section {
  margin-top: 0;
}
section header {
  padding-top: 20px;
}
body[data-mode=permissions] #permissions,
body[data-mode=event] #event,
body[data-mode=venue] #venue,
body[data-mode=friends] #friends,
body[data-mode=addfriends] #addfriends,
body[data-mode=received] #received,
body[data-mode=invite] #invite {
  display: block;
}
#debug,
#onboarding {
  display: block;
  position: static;
}
body {
  background-size: 320px 568px!important;
}