section {
  display: none;
   position: absolute;
  float: none;
  margin: 20px 0 0 0;
  padding-top: 1px;
}
section > section {
  margin-top: 0;
}
body[data-mode=permissions] #permissions,
body[data-mode=event] #event,
body[data-mode=venue] #venue,
body[data-mode=friends] #friends,
body[data-mode=invite] #invite {
  display: block;
}
#debug,
#onboarding {
  display: block;
  position: static;
}
body {
//  background: url(https://trello-attachments.s3.amazonaws.com/50afe80369698de767017e95/520a396955af4b947d0039d4/e78e716f299ceef6a9164a3fd02ee308/2013-10-18-white-widow-dash-event.png) no-repeat 0 0!important;
  background-size: 320px 568px!important;
}